@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap");
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  text-decoration: none;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  min-width: 576px;
  overflow-x: hidden;
  background-color: rgba(51, 51, 51, 0.85);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.links, ul, .about-foto {
  display: none;
}

.container {
  margin: 0 auto;
  width: 510px;
}

.uppercase {
  text-transform: uppercase;
}

header {
  background: url(../img/Header_bg.png) no-repeat top center/cover;
  padding-bottom: 107px;
}

.menu {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__burger svg {
  cursor: pointer;
  fill: white;
}

.menu__burger svg:hover {
  fill: #D1A954;
}

.menu__phone a {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  color: white;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #D1A954;
}

p {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

h1 {
  margin-top: 114px;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-align: center;
}

h5 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.first p {
  margin-top: 50px;
  text-align: left;
}

.button {
  margin-top: 49px;
  width: 160px;
  height: 50px;
  background-color: #D1A954;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
  cursor: pointer;
}

/**********************
******* 2 section ******
***********************/
h2 {
  text-align: center;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
}

.about h2 {
  margin-top: 80px;
}

.gold-color {
  color: #D1A954;
}

.about__best {
  margin-top: 60px;
  margin-bottom: 27px;
}

h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
}

.about__numbers__two {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.about__numbers__two__first, .about__numbers__two__second {
  display: block;
  margin: 0 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: left;
}

.slider {
  display: block;
  overflow-x: hidden;
  margin-top: 60px;
  margin-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  border: honeydew solid 2px;
}

/**********************
******* 3 section ******
***********************/
.projects {
  background: url(../img/bg3section.png) no-repeat top center/cover;
}

.projects .best {
  padding-top: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 126px;
}

.projects .best-years {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
}

.projects .best-stars {
  margin-left: 24px;
}

.projects .best-stars img {
  margin-right: 20px;
}

.projects .best-stars p {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 25px;
  text-align: left;
}

/**********************
******* 4 section ******
***********************/
.partners h2 {
  margin-top: 80px;
}

.partners-block {
  margin-top: 60px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 80px;
}

.partners-block img {
  margin-right: 78px;
}

.form {
  margin-top: 60px;
  text-align: center;
}

input, .message {
  background: #444444;
  border: 1px solid #616161;
  width: 230px;
  height: 35px;
}

.name, .telephone {
  margin-right: 45px;
  margin-bottom: 30px;
}

.name, .telephone, .message, .company, .email {
  padding-left: 15px;
  color: white;
}

.message {
  padding-top: 15px;
  width: 509px;
  height: 100px;
  vertical-align: top;
  color: white;
}

.asterix {
  font-weight: normal;
  font-size: 12px;
  width: 435px;
  padding-left: 37px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__left p {
  text-align: left;
}

.contacts__right p {
  text-align: right;
}

/**********************
******* footer ******
***********************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  padding-top: 30px;
  border-top: 1px solid #565656;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  color: #989898;
  padding-bottom: 30px;
}

.footer p:first-child {
  text-align-last: left;
}

.footer p:last-child {
  text-align-last: right;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
  .container {
    width: 690px;
  }
  header {
    padding-bottom: 207px;
  }
  h1 {
    margin-top: 169px;
  }
  .first p {
    max-width: 540px;
    margin-top: 50px;
    text-align: center;
  }
  /**********************
******* 2 section ******
***********************/
  .about-block {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 350px;
  }
  .about__best {
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    width: 445px;
  }
  .about__numbers {
    position: absolute;
    margin-left: 475px;
  }
  .about__best h3 {
    text-align: left;
    margin-bottom: 40px;
  }
  .about__best p {
    text-align: left;
    line-height: 200%;
  }
  .about__numbers__two {
    margin-top: 40px;
    display: block;
  }
  .about__numbers__two__second {
    margin-top: 25px;
  }
  /**********************
******* 3 section ******
***********************/
  .projects-stars p {
    width: 338px;
  }
  /**********************
******* 4 section ******
***********************/
  .form {
    margin-top: 60px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__datas__1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  input, .message {
    width: 180px;
  }
  .name, .telephone, .company {
    margin-right: 30px;
  }
  .message {
    width: 270px;
  }
  .underform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
  .underform .asterix {
    padding-left: 0;
    margin-left: 0;
    width: 390px;
  }
  .underform .asterix p {
    text-align: left;
  }
  .underform .button {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  body {
    min-width: 992px;
  }
  .links {
    position: fixed;
    width: 150px;
    height: 1045px;
    background: rgba(51, 51, 51, 0.75);
    display: block;
    color: #C4C4C4;
  }
  .links p {
    margin-top: 184px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #C4C4C4;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    white-space: nowrap;
  }
  .links hr {
    margin-top: 140px;
    background-color: #C4C4C4;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 80px;
    margin-bottom: 60px;
  }
  .links svg {
    fill: rgba(255, 255, 255, 0.6);
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .links svg:hover {
    fill: #D1A954;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1 {
    margin-top: 169px;
  }
  .first p {
    text-align: left;
  }
  .navigation {
    margin-top: 50px;
  }
  ul {
    width: 692px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    list-style-type: none;
  }
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__burger {
    display: none;
  }
}

@media (min-width: 1280px) {
  body {
    min-width: 1280px;
  }
  .container {
    width: 1110px;
    padding-left: 50px;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 0px;
  }
  ul {
    margin-top: 0;
    width: 824px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 207px;
  }
  h1 {
    text-align: left;
  }
  .about-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-block {
    width: 730px;
  }
  .about-foto {
    display: block;
    margin-top: 60px;
  }
  .best-stars {
    width: 540px;
  }
  .best-stars {
    margin-left: 1000px;
  }
  .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .feedback .contacts {
    position: absolute;
    display: block;
  }
  .feedback .contacts__right p {
    text-align: left;
  }
  .feedback form {
    margin-left: 380px;
  }
}

/**********************
******* burger ******
***********************/
.burger-block {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 800px;
  background: #333333;
}

.burger-block .burger-close {
  padding-top: 38px;
  padding-left: 246px;
}

.burger-close svg {
  fill: white;
  cursor: pointer;
}

.burger-nav__links svg {
  fill: white;
  cursor: pointer;
  margin-bottom: 50px;
  margin-right: 50px;
}

.burger-nav__links svg:hover, .burger-close svg:hover {
  fill: #D1A954;
}

.burger-nav__text ul {
  display: block;
  margin-top: 86px;
}

.burger-nav__text ul li {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  margin-bottom: 35px;
  cursor: pointer;
}

.burger-nav__links {
  margin-top: 55px;
  margin-left: 88px;
}
/*# sourceMappingURL=style.css.map */